{% extends 'myapp/base.html' %}
{% block title %}{{ client.name }}'s Products and Orders{% endblock %}
{% block content %}
<h2>Товары и заказы клиента {{ orders.first.client.name }} за последние {{ days }} дней: {{ author.name }}</h2>
<table>
    <table>
        <thead>
        <tr>
            <th>Client</th>
            <th>Products</th>
            <th>Total Amount</th>
            <th>Order Date</th>
        </tr>
        </thead>
        <tbody>
        {% for order in orders %}
        <tr>
            <td>{{ order.client.name }}</td>
            <td>{{ order.products.all.first.name }}</td>
            <td>{{ order.total_amount }}</td>
            <td>{{ order.order_date }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>
</table>
{% endblock %}
